
ul.beanstalk_changes {
  margin: 0;
  border: 1px solid #CCCCCC;
  border-bottom: 0;
}

ul.beanstalk_changes li {
  list-style: none;
  list-style-image: none !important;
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding-left: .5em;
  border-bottom: 1px solid #CCCCCC;
}

ul.beanstalk_changes li.add {
  background: #F1F8EB;
}

ul.beanstalk_changes li.edit {
  background: #FFFFCC;
}

ul.beanstalk_changes li.delete {
  background: #FFCCCC;
}

ul.beanstalk_changes li.copy,
ul.beanstalk_changes li.move {
  background: #F7F7F7;
}